# Ignore VCS
.git*
.gitignore

# Project metadata
README.md
pyproject.toml
pdm.lock
.pdm*

# Python caches
__pycache__
.pytest_cache

# Environments
.venv

# Editor settings
.vscode

# Project folders not needed in image
tests