# Copy this file to `.env` and update values

HOST=database-somwhere.awslink,
PORT=5432,
DATABASE=db_name,
USER=admin,
PASSWORD=something_secure

# for ssl
SSLMODE=verify-full
SSLROOTCERT=./global-bundle.pem