# Copy this file to `.env` and update values
# Deployment Environment
LOCAL=False

# Database connection settings
HOST=database-somwhere.awslink,
PORT=5432,
DATABASE=db_name,
USERNAME=admin,
PASSWORD=something_secure

# for ssl
SSLMODE=verify-full
SSLROOTCERT=./global-bundle.pem